.data_box{
    width:40vw ;
    height:17rem;
    background-color:#5746EA ;
    border-radius:12px;
   
    display:flex ;
    gap:1px ;

    margin:15px ;
}
.data_img{
    height:34vh ;
    width:10vw ;
    position:relative;
    top: 1vh;
}
.data_infobox{
    display: flex;
    flex-direction: column;
    top:1px;
}
.data_name{
    color: white;
}
.data_email{
    color: white;  
}
.data_username{
    color: white;
}
.data_crosssign{
    color: black;
    margin-left: 4px;
}
.data_store{
    width: 33vw;
}
.Data_map{
    border-radius: 12px;
    width: 100px;
    color: rgba(36, 33, 33, 0.363);
    border: none;
    padding: 2px;
    height: 30px;
    flex-shrink: 0;
    margin: 5px;
    background-color:transparent rgba(255, 255, 255, 0.116);
}
@media(max-width:800px){
    .data_box{
        width:40vw ;
        height: 20rem;
     display:flex ;
        gap:-20px ; margin:1px ;
    }
    .data_store{
        width: 30vw;
     
    }
    .data_img{
        height:39vh ;
     
       
        top: 6vh;
    }
}
