.timer_image{
    width: 10px;
    height: 10px;
}
.timer_body{
    top: 420px;
    left: 20px;
    width:55rem ;
    height: 14rem;
    background-color:#1e2343 ;
    position:absolute ;
    border-radius: 12px;
    margin-top: 6px;
    display:flex ;
    gap:30px;
    box-sizing: border-box;
    padding:12px ;
    align-items: center;
    justify-content: space-evenly;
}
.timer_firstlayer{
width: 30vw;
text-align: center;
}
.timer_secondlayer{
color: white;
display: flex;
font-size: 1rem;
justify-content: space-evenly;
}
.timer_button{
   height: 30px;
    background-color: #ff6a6a;
    border-radius: 10px;

    color: white;
    text-align: center;
}