.weather_bottom{
    width:540px;
    background-color:#101744 ;
    border-radius:12px ;
    margin-top: -240px;
    margin-left:20px ;
    min-height: 18vh; 
}
.weather_top{
    height:7vh ;
    background-color:#FF4ADE ;
    border-radius:12px ;
    color: white;
    display:flex ;
    justify-content: space-evenly;    align-items:center ;
    font-size:2rem ;
}
.weather_wind{
    margin-bottom: 12px;
    font-size: 24px;
    margin-top: 10px;
}
.weather_image{
    width: 30px;
    height: 30px;
}
@media(max-width:1000px){
    .weather_bottom{
        width:340px;
        background-color:#101744 ;
        border-radius:12px ;
        margin-top: -140px;
        margin-left:1px ;
        min-height: 18vh; 
    }
    .weather_top{
        height:7vh ;
        background-color:#FF4ADE ;
        border-radius:12px ;
        color: white;
        display:flex ;
        justify-content: space-evenly;    align-items:center ;
        font-size:2rem ;
    }
}