
img{
    width: 45rem;
    height: 100vh;
}

.top{
    position: absolute;
    display: flex;
    top: 9vh;
    left: 5vw;
    gap: 40px;
    color: white;
    align-items: center;
}

.top p{
    font-size: larger;
    font-weight: 600;
}

.top button{
    padding: 12px 27px;
    background: #72DB73;
    border-radius: 33px;
    color: white;
    box-shadow: none;
    border: none;
}

.bottom{
    position: absolute;
    bottom: 3vh;
    left: -1vw;
    color: white;
    font-size:3rem;
    font-weight: 800;
    max-width:40vw;
}
@media(max-width:1000px){
   .bottom{
    position: absolute;
    bottom: 1vh;
    max-width: 30vw;
    font-size:2rem;
    font-weight: 500;
    margin-left: 6rem;
   }
   img{
    width: 45rem;
    height: 110vh;
}
   .top{
    display: table-column;
   }
   .top p{
    font-size: larger;
    font-weight: 600;
    padding: 40px;
}
}
@media (max-width:250px) {
    .top{
        display: table-column;
       }
       .top p{
        font-size: larger;
        font-weight: 600;
        padding: 20px;
        margin-left: 6rem;
    }
    .top button{
        padding: 12px 27px;
      margin-left: 70px;
        border-radius: 33px;
        
    }
    
}